body{
  margin: 3%;
  background: #F3F5FC;
  font-family: 'Source Sans Pro', sans-serif;
}

main{
  display: flex;
}

h2{
  font-size: 2em;
}

.inputPanel{
  width:70%;
  margin-left: 2%;
  margin-top: 5%;
  height: calc(73% - 50px);
}

.inputBox{
  border: 0px;
  outline: none;
  padding: 3%;
  border-radius: 10px;
  /* margin-left: 120px; */
  box-sizing: border-box;
  width: 98%;
  height: calc(76vh - 100px);
  background: none;
  color: #0A3871;
  font-size: large;
  font-weight: bold;
  text-justify: distribute;
}

.inputBox::placeholder{
  color: #0A3871;
}

.buttonArea p{
  color: #495057;
}

.encriptar{
  margin: 2%;
  width: 46%;
  height: 40px;
  border-radius: 15px;
  background: #0A3871;
  color: #FFFFFF;
  font-size: medium;
}

.desencriptar{
  margin: 2%;
  width: 46%;
  height: 40px;
  border-radius: 15px;
  background: #D8DFE8;
  color: #0A3871;
  font-size: medium;
}

.outputPanel{
  display: table;
  position: inherit;
  top: 0;
  left: 0;
  height: calc(100vh - 175px);
  width: 30%;
  padding: 1%;
  border: 2px;
  border-radius: 20px;
  background: #FFFFFF;
}

.emptyImage{
  width: 90%;
}

.emptyOutput{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  /* margin: auto; */
  max-height: 100%;
  max-width: 50%;
}

.filledOutput{
  display: none;
  position: relative;
  vertical-align: text-top;
  text-align: justify;
  margin: auto;
  width: 100%;
  padding: 5%;
}

.resultText{
  height: calc(74vh - 9px);
}

.buttonCopy{
  top: 90%;
}

.copiar{
  /* display: flex; */
  margin: 2%;
  width: 90%;
  height: 40px;
  border-radius: 15px;
  background: none;
  color: #0A3871;
  font-size: medium;
  text-align: center;
}
