body{
  margin: 3%;
  background: #F3F5FC;
  font-family: 'Source Sans Pro', sans-serif;
  display: block;
}

main{
  display: flex;
}

h2{
  font-size: 2em;
}

.inputPanel{
  width:70%;
  margin-left: 2%;
  margin-top: 5%;
}

.inputBox{
  border: 0px;
  outline: none;
  padding: 3%;
  border-radius: 10px;
  box-sizing: border-box;
  width: 98%;
  height: calc(76vh - 100px);
  background: none;
  color: #0A3871;
  font-size: large;
  font-weight: bold;
}

.inputBox::placeholder{
  color: #0A3871;
}

.buttonArea p{
  color: #495057;
}

.encriptar{
  margin: 2%;
  width: 46%;
  height: 40px;
  border-radius: 15px;
  background: #0A3871;
  color: #FFFFFF;
  font-size: medium;
}

.desencriptar{
  margin: 2%;
  width: 46%;
  height: 40px;
  border-radius: 15px;
  background: #D8DFE8;
  color: #0A3871;
  font-size: medium;
}

.outputPanel{
  display: table;
  height: calc(100vh - 175px);
  width: 30%;
  padding: 1%;
  border-radius: 20px;
  background: #FFFFFF;
}

.emptyImage{
  width: 90%;
}

.emptyOutput{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.filledOutput{
  display: none;
  text-align: justify;
  width: 100%;
  padding: 5%;
}

.resultText{
  height: calc(74vh - 9px);
  width: 90%;
}

.copiar{
  margin: 2%;
  width: 90%;
  height: 40px;
  border-radius: 15px;
  background: none;
  color: #0A3871;
  font-size: medium;
  text-align: center;
}

footer{
  text-align: right;
}

.linkFooter{
  text-decoration: none;
}

.linkFooter:link{
  color: #0A3871;
}

.linkFooter:visited{
  color: #1A487A;
}


@media screen and (max-width:420px){
  h2{
    font-size: 1.5em;
    text-align: center;
  }

  body{
    padding: 1%;
  }

  main{
    display: block;
  }

  .logoHead{
    width: 95%;
  }

  .inputPanel, .outputPanel{
    width: 95%;
  }

  .inputBox{
    height: 30vh;
  }

  .encriptar{
    width: 95%;
  }
  
  .desencriptar{
    width: 95%;
  }

  .outputPanel{
    height: 35vh;
    width: 95%;
  }
  
  .filledOutput{
    height: 25vh;
    width: 95%;
  }

  .resultText{
    height: 20vh;
  }

  .emptyImage{
    display: none;
  }

  .buttonCopy{
    position: relative;
    top: 20%;
  }

  footer{
    width: 90%;
  }
}

@media screen and (max-width:912px) and (max-height:1368px){
  h2{
    font-size: 1.5em;
    text-align: center;
  }

  body{
    padding: 1%;
  }

  main{
    display: block;
  }

  .logoHead{
    width: 90%;
  }

  .inputPanel, .outputPanel{
    width: 90%;
  }

  .inputBox{
    height: 30vh;
  }

  .outputPanel{
    height: 35vh;
  }
  
  .filledOutput{
    height: 25vh;
  }

  .resultText{
    height: 20vh;
  }

  .emptyImage{
    display: none;
  }

  .buttonCopy{
    position: relative;
    top: 20%;
  }
}